* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.fila {
    width: 100%;
    text-align: center;
}

#range {
    width: 70%;
    outline: none;

}

