* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 100px;
}

body {
    background-color: #f7f7f7;
}

.select {
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.tabla-container {
    padding: 20px;
    width: 500px;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}