* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #f7f7f7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
}

.card {
    max-width: 200px;
    width: 80%;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.card h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card a {
    display: inline-block;
    background-color: #0066ff;
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.card a:hover {
    background-color: #008cff;
}